<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>Bienvenido a tu Aplicacion</h1>
<div class="button-container">
    <a href="/todo"><button class="custom-btn"><i class="fa fa-check-square"></i> To-Do</button></a>
    <a href="/pomodoro"><button class="custom-btn"><i class="fa fa-clock"></i> Pomodoro</button></a>
    <a href="/typing-test"><button class="custom-btn"><i class="fa fa-keyboard"></i> Typing Test</button></a>
</div>
<p class="intro-text">
    Organiza tus tareas, mejora tu enfoque y pon a prueba tu velocidad de escritura.
</p>
</body>
</html>
